@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>
<EstadoSistema CodigoEstado="200" />
<EstadoSistema CodigoEstado="404" />
<EstadoSistema CodigoEstado="500" />
<EstadoSistema CodigoEstado="401" />

<h1>Hello, world!</h1>

Welcome to your new app.
